/* Variables */
:root {
    --link-hover-active: #ff6565;
    --color-white: white;
    --button-opacity-hover-active: 0.9;
    --main-font-family: 'Source Sans Pro', sans-serif;
}

/* Base */
*, *:before, *:after {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /* font-size: 60%; */
}
body {
    font-family: var(--main-font-family);
}
a {
    text-decoration: none;
    color: var(--color-white);
}
a:visited {
    color: inherit;
}
a:hover, a:active {
    color: var(--link-hover-active);
}
.button {
    background: var(--link-hover-active);
	color: var(--color-white);
    font-weight: bold;
	border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 162px;
    height: 44px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 25px;
    margin-bottom: 50px;
    /* padding: 17px 7px; */
}

.button:hover, .button:active {
    opacity: var(--button-opacity-hover-active);
}

body {
    text-align: center;
}

p {
    font-size: 16px;
    word-spacing: -2px;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

/* header section */

.header_container{
    background-image:url(./images/headphones_hero_1.jpg);
    /* width: auto; */
    height: 800px;
    border: 0px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    color: #979797;
}

.logo img {
    /* width: 161px; */
    height: 32px;
    /* padding-top: 24px;
    margin: 0px; */
}
.nav_menu {
    display: flex;
    justify-content: space-between;
    width: 255px;
    height: 15px;
    /* padding-top: 37px; */
}

.main_part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 372px;
    /* margin-left: 382px; */
    /* width: 637px; */
    height: 313px;
    color: #FFFFFF;
}

.main_part h4 {
    font-weight: bold;
    font-size: 16px;
}
.main_part p {
    width: 637px;
}

.main_part_title {
    line-height: 5px;
}

/* what to do section */

.part_1_what_we_do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 382px; */
    /* margin-top: 110px; */
    /* flex-wrap: wrap; */
    /* width: 637px; */
    padding-top: 5%;
    padding-bottom: 5%;
    /* height: 184px; */
}

.part_1_what_we_do p {
    width: 637px;
}


/* part 2 icons section */
.part_2_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
}

.part_2_icons .icon_items {
    width: 207px;
}

.part_2_icons p {
    font-size: 14px;
}


/* our results section */
.our_results {
    height: 650px;
    color: #FFFFFF;
    /* padding-top: 10%; */
    background-image: url(./images/headphones_hero_2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.dot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
}
.pentagon{
    width: 190px;
    height: 190px;
    background-image: url(./images/pentagone.png);
    background-size: 190px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 0.2;
    /* display: flex;
    flex-direction: column;
    background-image: url(./images/pentagone.png); */
}
.part_3_dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.part_3_dark h2 {
  /* width: 488px; */
}

.part_3_dark p {
    width: 637px;
    
}

.pentagon h2 {
    font-weight: bold;
    font-size: 46px;
}

.pentagon p {
    font-size: 14px;
}

/* Contact us section */

.contact_us_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    height: 373px;
}
.contact_us h2 {
    color: #071629;
}

.form input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 335px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #979797;
    line-height: 2;
}

input::placeholder {
    color: #071629;
    
}

.form {
    line-height: 4;
}
