/* Variables */
:root {
    --link-hover-active: #ff6565;
    --color-white: white;
    --button-opacity-hover-active: 0.9;
    --main-font-family: "Source Sans 3 'Courier New' monospace, sans-serif";
}

/* Base */
*, *:before, *:after {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /* font-size: 60%; */
}
body {
    font-family: var(--main-font-family);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:hover, a:active {
    color: var(--link-hover-active);
}

.button {
    background: var(--link-hover-active);
	color: var(--color-white);
    font-weight: bold;
	border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 162px;
    height: 44px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 32px;
    margin-bottom: 64px;
    /* padding: 17px 7px; */
}

body {
    text-align: center;
}

p {
    /* font-size: 16px; */
    word-spacing: -2px;
}

h1 {
    font-weight: bold;
    /* font-size: 32px; */
}

h2 {
    font-weight: bold;
    /* font-size: 32px; */
}

/* header section */

.header_container{
    background-image:url(./images/headphones_hero_1.jpg);
    /* width: auto; */
    height: 800px;
    border: 0px;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    color: #979797;
    /* width: 100%; */
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-right: 1%;
    padding-right: 1%; */  
    
}

.toggle_btn {
    display: none;
}

.header .logo {
    width: 161px;
    height: 32px;
    /* border: 3px solid #73AD21; */
    /* padding-top: 24px;
    margin: 0px; */
}
.nav_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    /* height: 15px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    /* align-items: flex-end; */
    /* padding-top: 37px; */
}

.main_part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 340px;
    /* margin-left: 382px; */
    /* width: 637px; */
    /* height: 313px; */
    color: #FFFFFF;
}

.main_part h6 {
    font-weight: bold;
    font-size: 16px;
}
h1, h6 {
     padding:0; margin:0; 
}

.main_part p {
    width: 600px;
    font-size: 16px;
}


/* what to do section */

.part_1_what_we_do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 382px; */
    /* margin-top: 110px; */
    /* flex-wrap: wrap; */
    /* width: 637px; */
    padding-top: 5%;
    padding-bottom: 5%;
    /* height: 184px; */
}

.part_1_what_we_do p {
    width: 600px;
    font-size: 16px;
}


/* part 2 icons section */
.part_2_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
}.part_1_what_we_do

.part_2_icons .icon_items {
    width: 207px;
}

.icon_items p {
    font-size: 14px;
    width: 207px;
}


/* our results section */
.our_results {
    height: 650px;
    color: #FFFFFF;
    /* padding-top: 10%; */
    background-image: url(./images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.dot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
    /* padding-left: 10%;
    padding-right: 10%; */
}
.pentagon{
    width: 190px;
    height: 190px;
    background-image: url(./images/pentagone.png);
    background-size: 190px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 0.1;
    /* display: flex;
    flex-direction: column;
    background-image: url(./images/pentagone.png); */
}



.part_3_dark {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.part_3_dark h2 {
  /* width: 488px; */
    font-size: 32px;
}

.part_3_dark p {
    width: 600px;
    font-size: 16px;
    
}

.pentagon h3 {
    font-weight: bold;
    font-size: 46px;
}

.pentagon p {
    font-size: 14px;
}

/* Contact us section */

.contact_us_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    height: 373px;
}
.contact_us h2 {
    color: #071629;
}

.form input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 335px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #979797;
    line-height: 2;
}

input::placeholder {
    color: #071629;
    
}

.form {
    line-height: 4;
}

/* footer section */
footer{
    background-color: #071629;
}

.footer_main {
    height: 249px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.logo img {
    width: 161px;
    height: 32px;
}

 div .footer_nav {
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 30px;
 }


footer p {
    color: #FFFFFF;
    font-size: 12px;
    opacity: 0.3;
    padding-bottom: 2.5%;
}

