/* for index 6 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #FF6565;
  --spacing-xxl: 125px;
  --spacing-xl: 90px;
  --spacing-lg: 75px;
  --spacing-md: 30px;
  --spacing-s: 25px;
  --spacing-xs: 15px;
  --spacing-xxs: 5px;


  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-md: 25px;
  --font-size-lg: 32px;
  --font-size-xl: 46px;

  --link-hover-active: #ff6565;
  --color-white: white;
  --button-opacity-hover-active: 0.9;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  max-width: 1400px;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  padding-left: 19px;
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 3px;
  margin: 0;
  background-color: #979797;
}

.our_results {
  height: 650px;
  color: #FFFFFF;
  /* padding-top: 10%; */
  background-image: url(./images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

/* Our results section */

.our_results {
  height: 650px;
  background-image: url(./images/headphones_hero_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part_3_dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.part_3_dark>h2 {
  font-weight: 600;
  font-size: 32px;
}


.part_3_dark>p {
  font-weight: normal;
  font-size: 16px;
  width: 637px;
  opacity: .9;
}

.dot {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;

}

/* .pentagon {
  background-image: url(./images/pentagone.png);
  height: 190px;
  width: 190px;
  background-size: 190px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 0.5;
} */

.pentagon>h3 {
  font-weight: bold;
  font-size: 46px;
  margin-top: 70px;
  margin-bottom: 30px;
  opacity: .9;
}

.pentagon>p {
  font-weight: normal;
  font-size: 14px;
  opacity: .9;
}

.pentagon {
  position: relative;
  width: 95px;
  border-top: 95px solid #ff6565;
  border-left: 47.5px solid transparent;
  border-right: 47.5px solid transparent;
  height: 0;

}

.pentagon:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-bottom: 95px solid #ff6565;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
  bottom: 95px;
  left: -47.5px;
}