@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

/* Header Section */
body {
    font-family: "Source Sans Pro";
}

header {
    background-image: url("./images/pic1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 1093px;
}

.heading {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* color: white; */
    padding-top: 2%;
}

.logo {
    width: 10%;
    background-color: white;
}

a {
    color: white;
}

.nav-items {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    column-gap: 25px;
    cursor: context-menu;

}

.banner {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.banner h1 {
    font-weight: 400;
    font-size: 120px;
    margin-bottom: 0;
    line-height: .8;
}

.motto {
    display: flex;
    column-gap: 25px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1%;
}

button {
    border-radius: 25px;
    height: 44px;
    width: 162px;
    font-weight: 600;
    background-color: #C271FF;
    margin-bottom: 5%;
    border: none;
    color: white;
}

.banner>h2 {
    font-size: 32px;
    font-weight: 100;
    margin-top: 5%;
    opacity: 0.8;
    /* margin-bottom: 4%; */
}

span {
    color: #C271FF;
    font-weight: bold;
}


.students {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 237px;
    width: 1009px;
    padding-top: 5%;
}

.student {
    align-items: center;
    text-align: center;
    width: 150px;
}

.student>img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
}

.student>h3 {
    font-size: 18px;
    margin-top: 0;
}

.student>p {
    font-style: italic;
}

p {
    opacity: 0.9;
}

/* part_1 */

.part_1_testimonials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 22px;
    padding-top: 5%;
    padding-bottom: 5%;
    /* height: 392px; */
    background-color: #C271FF;
    color: white;
}

.testimonial {
    /* height: 158px; */
    /* margin-top: 2%; */
}

div>p {
    padding-left: 5%;
}

blockquote {
    width: 730px;
}

.person {
    font-weight: bold;
    margin-top: 5%;
    /* line-height: 1; */
}

.weather {
    font-style: italic;
    margin-top: -2%;
    /* line-height: 1; */
}

div>img {
    width: 160px;
    border-radius: 50%;
}

/* part_2_tutorials */

.part_2_tutorials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.tutorials {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.tuto-0 {
    width: 255px;

}


.part_2_tutorials>h1 {
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 3%;
}

h1>span {
    color: #C271FF;
    font-weight: bold;
}



.tuto>h2 {
    font-weight: bold;
    font-size: 16px;
}

.tuto>p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    margin-left: -5%;
}

.Phillip-Massey>p {
    font-weight: 600;
    font-size: 14px;
    color: #C271FF;
}

.Phillip-Massey>img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5%;
}

.Phillip-Massey {
    display: flex;
    align-items: center;
}

.rating>p {
    font-weight: 600;
    font-size: 14px;
    color: #C271FF;
    margin-left: 10%;
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.checked {
    color: #979797;
}

video {
    width: 100%;
}

/* Membership section */

.membership {
    background-color: #071629;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    color: white;

}

.membership>h1 {
    font-size: 32px;
    opacity: .9;
    font-weight: 100;
}


.dot>img {
    width: 20%;
    height: 20%;
    /* background-color: #C271FF; */
    /* color: #C271FF; */
}

.dots {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
    opacity: .9;

}

.dot {
    width: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dot>p {
    margin-left: 10%;
    margin-top: -5%;
    line-height: 1.5;

}

/* F.A.Q Section */

.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.questions {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    /* margin-top: 2%; */
}

.question>p {
    width: 350px;
    margin-left: -5%;
    margin-bottom: 20%;
}

.row-block {
    line-height: 1.5;
}

.FAQ>h1 {
    font-weight: 100;
    font-size: 60px;
}

.question>h2 {
    font-size: 16px;
    font-weight: bold;
}

.question>p {
    font-weight: normal;
    font-size: 14px;
    opacity: 0.6;
    /* color: #071629; */
}

/* Footer section */

.global-block {
    background-color: #071629;
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    color: #ffff;
}

.logo-and-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50%;
    margin-top: 5%;
}

.global-block>p {
    margin-bottom: 2%;
    font-size: 12px;
    opacity: 0.5;
}

.socials {
    display: flex;
    margin-right: 15%;
    gap: 15%;
}